
/* Mobile Responsive Styling 
============================================================================*/

/* Mobile Menu Button Styling 
============================================================================ */

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: #ffffff;
    margin: 3px 0;
}

/* Navbar responsive
=========================================================================== */

@media (max-width: 768px) {
    .nav-links ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background: rgba(0, 0, 0, 0.9);
        width: 100%;
        text-align: center;
        padding: 10px 0;
        margin-right: 0px;
    }

    .nav-links ul.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-links li {
        width: 100%;
        justify-content: center;
    }

    .hero-name {
        color: #ffffff;
        font-size: 15px;
        font-weight: 400;
        margin-left: 10px;
        padding: 15px 0px;
        width: 200px;
    }

}



@media (max-width: 480px){

    .hero-column{
        margin-top: 100px;
        margin-left: 0px;
        padding: 29px;
        text-align: left;
    }

    .text-pretitle {
        font-size: 12px;
        letter-spacing: 0.1em;
    }

    .text-huge-title {
        font-size: 41px;
        line-height: 1.5;
    }

    
}

/* Hero social links 
================================================================= */

 @media (max-width: 768px) {
    .intro-social {
        font-size: 8px; /* Slightly smaller text */
        padding: 0;
        left: 50%;
        transform: translateX(-50%) rotate(0deg); /* Make it horizontal */
        position: absolute;
        bottom: 100px; 
        margin-top: 0;
        justify-content: center;
    }

    .intro-social li {
        padding: 0 0.6rem;
    }

    .intro-social a {
        opacity: 0.8;
    }
}

@media (max-width: 480px) {
    .intro-social {
        font-size: 7px; 
        bottom: 100px;
    }

    .intro-social li {
        padding: 0 0.4rem;
    }
}


/* About Section 
===============================================================*/
@media (max-width: 480px) {

    .about-info {
        flex-direction: column; /* Stack items vertically */
    }

    .about-info__pic {
        width: 70%;
        height: auto; /* Maintain aspect ratio */
        max-height: 300px; /* Smaller height for mobile */
    }

    .about-info__text {
        padding: 1.5rem;
        overflow: scroll;
        margin-top: 12px;
        margin-left: 20px;
    }

    .about-info__text .btn {
        width: auto;
        padding: 10px 14px;
        font-size: 10px;
        margin-top: 5px;
        margin-right: 20px;
    }
} 